---
import { useTranslations } from "../../i18n/util";
import { languages } from "../../i18n/ui";

const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);

import "./Reviews.css";
---

<section class="review-container" id="reviews">
  
  <!-- TÃTULO -->
  <div class="first-background animate-scroll">
    <h1>{translateLabels("reviews.title")}</h1>
  </div>

  <!-- CONTENIDO -->
  <div class="background-reviews animate-scroll">
    <div class="coverage-content animate-scroll">
      <p>{translateLabels("reviews.description.first")}</p>
      <p>{translateLabels("reviews.description.second")}</p>
      <p class="closing">
        {translateLabels("reviews.description.third")}
      </p>
    </div>
  </div>

</section>
