---
import { useTranslations } from "../../i18n/util";
import { languages } from "../../i18n/ui";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as keyof typeof languages);
import "./Services.css";
---

<section id="services">
  <div class="service-section-container">
    <div class="right-section">
      <div class="blue-card fade-in-left" data-delay="0"></div>
      <h1 class="servive-title fade-in-up" data-delay="200">
        {translateLabels("service.title")}
      </h1>
      <p class="fade-in-up" data-delay="400">
        {translateLabels("service.description")}
      </p>
    </div>

    <div class="left-section">
      <div class="swiper SwiperService fade-in-right" data-delay="300">
        <div class="card-container swiper-wrapper">
          <!-- CARD 1 -->
          <div class="swiper-slide">
            <div class="card card-1" data-delay="600">
              <span class="company-name">
                ARO INGENIERÍA 
              </span>
              <div class="background-icon">
                
                <figure>
                  <img
                    src="/assets/Icons/tuercas-y-tornillos.svg"
                    alt={translateLabels("service.card.first.iconAlt")}
                  />
                </figure>
              </div>
              <h2>{translateLabels("service.card.first.title")}</h2>
              <p>{translateLabels("service.card.first.description")}</p>
            </div>
          </div>

          <!-- CARD 2 -->
          <div class="swiper-slide">
            <div class="card card-2" data-delay="800">
               <span class="company-name">
                ARO INGENIERÍA 
              </span>
              <div class="background-icon">
                <figure>
                  <img
                    src="/assets/Icons/escudo.svg"
                    alt={translateLabels("service.card.second.iconAlt")}
                  />
                </figure>
              </div>
              <h2>{translateLabels("service.card.second.title")}</h2>
              <p>{translateLabels("service.card.second.description")}</p>
            </div>
          </div>

          <!-- CARD 3 -->
          <div class="swiper-slide">
            <div class="card card-3" data-delay="1000">
               <span class="company-name">
                ARO INGENIERÍA 
              </span>
              <div class="background-icon">
                <figure>
                  <img
                    src="/assets/Icons/lock.svg"
                    alt={translateLabels("service.card.third.iconAlt")}
                  />
                </figure>
              </div>
              <h2>{translateLabels("service.card.third.title")}</h2>
              <p>{translateLabels("service.card.third.description")}</p>
            </div>
          </div>
        
        <!-- CARD 4 -->
         <div class="swiper-slide">
            <div class="card card-4" data-delay="1000">
               <span class="company-name">
                ARO INGENIERÍA 
              </span>
              <div class="background-icon">
                <figure>
                  <img
                    src="/assets/Icons/deposito.svg"
                    alt={translateLabels("service.card.fourth.iconAlt")}
                  />
                </figure>
              </div>
              <h2>{translateLabels("service.card.fourth.title")}</h2>
              <p>{translateLabels("service.card.fourth.description")}</p>
            </div>
          </div>
        <!-- CARD 5 -->
         <div class="swiper-slide">
            <div class="card card-5" data-delay="1000">
               <span class="company-name">
                ARO INGENIERÍA 
              </span>
              <div class="background-icon">
                <figure>
                  <img
                    src="/assets/Icons/copo-de-nieve.svg"
                    alt={translateLabels("service.card.fifth.iconAlt")}
                  />
                </figure>
              </div>
              <h2>{translateLabels("service.card.fifth.title")}</h2>
              <p>{translateLabels("service.card.fifth.description")}</p>
            </div>
          </div>
     
        </div>
        <!-- Navigation buttons -->
        <div class="swiper-button-next" data-delay="1200"></div>
        <div class="swiper-button-prev" data-delay="1400"></div>

        <div class="swiper-pagination fade-in" data-delay="1600"></div>
      </div>
    </div>
  </div>
</section>

<script src="./Services.js"></script>
